# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin atom-workspace':
  'cmd-k cmd-c': 'change-case:camel'
  'cmd-k cmd-s': 'change-case:snake'

'.platform-win32 atom-workspace':
  'ctrl-k ctrl-c': 'change-case:camel'
  'ctrl-k ctrl-s': 'change-case:snake'
